@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
:root {
  --font-name: 'Open Sans';
  --normal-weight: 400;
}

/**
 * 🏎
 */
html {
  background: rebeccapurple;
  background-image: url("/images/TMcar/TMcar_small.png"), linear-gradient(to top, rebeccapurple, rgb(39, 196, 245), rebeccapurple);
  background-image: image-set(
    url("/images/TMcar/TMcar.avif") type("image/avif"),
    url("/images/TMcar/TMcar.webp") type("image/webp"),
    url("/images/TMcar/TMcar_small.png") type("image/png")
  ), linear-gradient(to top, rebeccapurple, rgb(39, 196, 245), rebeccapurple); 
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}
body {
  height: 100vh;
  width: 100%;
  margin: 0;
  background: rgba(45, 36, 91, .5);
  font-family: var(--font-name), sans-serif;
  font-weight: var(--normal-weight);
  overflow: hidden;
}
@media only screen and (min-width: 1024px) {
  .center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);  
  }
}
#container {
  margin-left: 1.1rem;
  margin-right: .5rem;  
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  height: 100vh;
  overflow-y: auto;
}
h2, h3, p {
  color: #c0c0c0; /* #877EA5 */
  text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 1px;
}
h1 {
  font-size: 2rem;
  margin: .5em 0 .1em;
}
h1.logo {
  background: linear-gradient(300deg, #93f5ec 20%, #a77bf3 70%);
  background-clip: text;
 -webkit-text-fill-color: transparent;
  font-weight: bold;
  z-index: 2;
  color: #00000059;
  filter: drop-shadow(0 3px 3px) brightness(1.1);
}
h2 {
  font-weight: bold;
  font-size: 1.8rem;
  margin: .1em 0 .2em;
}
h3 {
  font-weight: bold;
  font-size: 1.4rem;
  margin: 1em 0 .2em;
}
p {
  font-weight: var(--normal-weight);
  font-size: 1.3rem;
  margin: .3em 0 .3em;
}
p#generalinfo {
  font-size: 1rem;
}
#clockdiv {
	font-family: var(--font-name), sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: var(--normal-weight);
	text-align: center;
	font-size: 2em;
  padding: .3em;
}

#clockdiv > div {
  padding: .2em;
  border-radius: .2em;
  background-color: rgba(255, 255, 255, 0.15); 
  display: inline-block;
 -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  box-shadow: 0 0.3px 0.7px rgba(0, 0, 0, 0.126),
    0 0.9px 1.7px rgba(0, 0, 0, 0.179), 0 1.8px 3.5px rgba(0, 0, 0, 0.224),
    0 3.7px 7.3px rgba(0, 0, 0, 0.277), 0 10px 20px rgba(0, 0, 0, 0.4);
}

#clockdiv div > span {
  padding: .45em;
  border-radius: .2em;
  background: rgba(255, 255, 255, .15);
  display: inline-block;
}
.flexbox {
  display: flex;
  flex-wrap: wrap;
}
.flexbox div {
  margin-right: 2em;
}
.smalltext {
  padding-top: .5em;
  font-size: .5em;
}
.hidden {
  display: none !important;
}
#codeby {
  position: fixed;
  bottom: 6rem;
  right: 1rem; 
  font-size: .7em;
  opacity: .3;
}
#skin {
  position: fixed;
  bottom: 6rem;
  left: 1rem; 
  font-size: .7em;
  opacity: .3;
}
#codeby a, #skin a {
  color: #c0c0c0;
}
.github-fork-ribbon:before {
  background-color: #ff4cd2;
}
/* Hide on mobile (phones) */
@media (max-width: 767px) {
  .github-fork-ribbon {
    display: none !important;
  }
}