<?php
return [
    // create a server account https://webservices.openplanet.dev/auth/dedi
    'basicAuthCredentials' => 'username:password',
    // Optional: override User-Agent here if you want
    'userAgent' => 'NextCampaign / @username / email@example.com',
];
?>
